# distutils.cfg
# Place this file in your Python installation directory
# Usually: C:\Users\<username>\AppData\Local\Programs\Python\Python3X\Lib\distutils\distutils.cfg
# Or in the current directory as: setup.cfg

[build]
compiler=mingw32

[build_ext]
compiler=mingw32